.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  // margin-bottom: 25px;

  .logo-container {
    height: 50%;
    width: 70px;
    padding: 10px 70px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: middle;
    padding: 5px 15px;

    .option {
      padding: 0px 70px;
      cursor: pointer;
    }
  }

  // .profile {
  //   height: 100%;
  //   width: 130px;
  //   justify-content: left;
  //   align-items: center;
  //   margin: auto;

  //   .name {
  //     width: 60%;
  //     height: 100%;
  //     float: left;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     margin-left: 7%;
  //   }

  //   .pic {
  //     margin-left: 45%;
  //     height: 30px;
  //     width: 30px;
  //     display: flex;
  //     margin-top: 10px;
  //   }
  // }

  .option:hover {
    background-color: rgba(217, 217, 217, 0.3);
    cursor: pointer;
  }
}
