.player-yf {
  display: inline-flex;
  background-image: url('../../images/player-yf.svg');
  background-size: 100% 100%;
}

.player-yb {
  display: inline-flex;
  background-image: url('../../images/player-yb.svg');
  background-size: 100% 100%;
}

.player-xf {
  display: inline-flex;
  background-image: url('../../images/player-xf.svg');
  background-size: 100% 100%;
}

.player-xb {
  display: inline-flex;
  background-image: url('../../images/player-xb.svg');
  background-size: 100% 100%;
}
