body {
  font-family: 'Open Sans Condensed';
}

.HomePage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.inner_remainning {
  background-color: cornsilk;
  flex-grow: 1;
}

.Game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.LeftPane {
  margin: 10px;
}

.RightPane {
  margin: 10px;
}

.ConvertBtnPane {
  direction: rtl;
}

.ConvertBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  bottom: 5px;
  right: 10px;
  position: relative;
  background-color: #00b300;
  color: white;
  padding: 0px 25px;
  margin: 0px 50px;
  font-size: 20px;
  border-radius: 8px;
  width: 120px;
  height: 50px;
}

.Play {
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
}

.ConvertBtn:hover {
  background-color: #00cc00;
  cursor: pointer;
}
